body {
  font-family: "Arial", sans-serif;
  font: 400 15px arial;
  color: #101828;
  background-color: #f2f4f7;
}

.header-top {
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #dee2e6;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-left: 20px;
}
.menu .form-control {
  border-radius: 0.25rem;
}
.menu .btn {
  border-radius: 0.25rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.menu .btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
.btn-dk {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  padding: 7px 12px;
  transition: all 0.3s;
}
.btn-dk:hover {
  color: #000;
  text-decoration: none;
  border-color: #007bff;
}

.box {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.box-left {
  width: 1000px;
  background-color: #ffffff;
  padding: 20px;
}
.content_tk {
  background-color: #ffffff;
}
.box-right {
  width: 400px;
  background-color: #ffffff;
  padding: 10px;
}

.ct-boxri {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.ct {
  padding-left: 20px;
}

.ct p {
  margin: 5px 0;
  font-size: 14px;
}

.ct-boxri:last-child {
  border-bottom: none;
}
.lq {
  border-bottom: 1px solid #ddd;
}
.lq:last-child {
  border-bottom: none;
}
.navbar {
  background-color: #78b43d;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: rgb(255, 132, 0);
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #fff;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: black;
}

.card {
  margin-bottom: 20px;
}

footer {
  background-color: #ffffff;
  margin-top: 20px;
  padding-top: 20px;
}
